# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Vite/React
dist/
.vite/
*.local

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.vscode/
.idea/
.vs/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
